body{
    background-color: rgb(157, 190, 190);
}
.flex-container{
    display: flex;
    background-color: rgb(84, 197, 135);
    padding: 10px;
    margin: 20px;
    justify-content: center;
}
.flex-container h1{
    color: white;
}
 .container{
  display: flex;
 
  justify-content: space-between;
 }

.ContAside{
    background-color: rgb(109, 221, 109);
    height: 350px;
    margin-left: 20px;
    width: 350px;
    display: flex;
    justify-content: center;
    
}
.ContAside h2{
    color: aliceblue;
    margin-top: 150px;
}
.ConArticle{
    background-color: rgb(253, 190, 74);
    width: 800px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.ConArticle h2{
    color: white;
    align-self: center;
}
.imagewrapper{
    display: flex;
    justify-content: space-around;

}
.image{
    background-color: rgb(216, 151, 31);
    height: 100px;
    width: 120px;
    display: flex;
    margin-bottom: 30px;
   
}
.image h2{
    margin-left: 20%;
}


.image2{
    background-color: rgb(216, 151, 31);
    height: 100px;
    width: 120px;
    display: flex;
   
    
}
.image2 h2{
    margin-left: 20%;
}
.image3{
    background-color: rgb(216, 151, 31);
    height: 100px;
    width: 120px;
    display: flex;
    justify-content: end;

}
.image3 h2{
    margin-right: 20%;
}


 
 .footer{
    display: flex;
    background-color: rgb(84, 197, 135);
    padding: 10px;
    margin: 20px;
    justify-content: center;
    align-content: end;
 }
 .footer h1{
    color: white;
 }